 <!--Footer-->
 <footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <div id="footer-left" class="column-4">
            <div id="footer-customer">
                <p id="customer-title"><a href = "/Customer"><i class="fa fa-comments fa-1.5x"></i>  {{footercontent.customer.title}}</a></p>
                <p id="customer-describe">    {{footercontent.customer.describe}}</p>
            </div>
            <div id="footer-quoter">
                <p>{{footercontent.brand.describe}}<br>{{footercontent.brand.company}}</p>
            </div>
        </div>

        <div id="footer-middle" class="column-3-4">
            <div class="column-4">
                <ul>
                    <li class="first-level">{{footercontent.sub1.title}}</li>
                    <li><a href= {{footercontent.sub1.link1}}>{{footercontent.sub1.name1}}</a></li>
                    <li><a href= {{footercontent.sub1.link2}}>{{footercontent.sub1.name2}}</a></li>
                    <li><a href= {{footercontent.sub1.link3}}>{{footercontent.sub1.name3}}</a></li>
                    <li><a href= {{footercontent.sub1.link4}}>{{footercontent.sub1.name4}}</a></li>
                    <li><a href= {{footercontent.sub1.link5}}>{{footercontent.sub1.name5}}</a></li>
                </ul>
            </div>
            <div class="column-4">
                <ul>
                    <li class="first-level">{{footercontent.sub2.title}}</li>
                    <li><a href= {{footercontent.sub2.link1}}>{{footercontent.sub2.name1}}</a></li>
                    <li><a href= {{footercontent.sub2.link2}}>{{footercontent.sub2.name2}}</a></li>
                    <li><a href= {{footercontent.sub2.link3}}>{{footercontent.sub2.name3}}</a></li>
                    <li><a href= {{footercontent.sub2.link4}}>{{footercontent.sub2.name4}}</a></li>
                    <li><a href= {{footercontent.sub2.link5}}>{{footercontent.sub2.name5}}</a></li>
                </ul>
            </div>
            <div class="column-4">
                <ul>
                    <li class="first-level">{{footercontent.sub3.title}}</li>
                    <li><a href= {{footercontent.sub3.link1}}>{{footercontent.sub3.name1}}</a></li>
                    <li><a href= {{footercontent.sub3.link2}}>{{footercontent.sub3.name2}}</a></li>
                    <li><a href= {{footercontent.sub3.link3}}>{{footercontent.sub3.name3}}</a></li>
                    <li><a href= {{footercontent.sub3.link4}}>{{footercontent.sub3.name4}}</a></li>
                    <li><a href= {{footercontent.sub3.link5}}>{{footercontent.sub3.name5}}</a></li>
                </ul>
            </div>
            <div class="column-4">
                <ul>
                    <li class="first-level">{{footercontent.sub4.title}}</li>
                    <li><a href= {{footercontent.sub4.link1}}>{{footercontent.sub4.name1}}</a></li>
                    <li><a href= {{footercontent.sub4.link2}}>{{footercontent.sub4.name2}}</a></li>
                    <li><a href= {{footercontent.sub4.link3}}>{{footercontent.sub4.name3}}</a></li>
                    <li><a href= {{footercontent.sub4.link4}}>{{footercontent.sub4.name4}}</a></li>
                    <li><a href= {{footercontent.sub4.link5}}>{{footercontent.sub4.name5}}</a></li>
                </ul>
            </div>
        </div>
        
        <div id="footer-right" class="column-4">
            <div id="footer-customer">
                    <p id="customer-title"><a href = ""><i class="fa fa-comments fa-1.5x"></i>  {{footercontent.customer.title}}</a></p>
                    <p id="customer-describe">    {{footercontent.customer.describe}}</p>
                </div>
                <div id="footer-quoter">
                    <p>{{footercontent.brand.describe}}<br>{{footercontent.brand.company}}</p>
            </div>
        </div>
       
    </div>
</footer>
<!--End of Footer-->
