<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

        <div class="row clearfix">

            <div class="section-heading">
                <h3>{{about.brand}}</h3>
                <h2 class="section-title">{{about.title}}</h2>
            </div>

            <blockquote class="column-3 testimonial classic">
                <img src={{about.member1.imgsrc}} alt=""/>
                <p><img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member1.describe1}}<br>
                   <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member1.describe2}}<br>
                   <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member1.describe3}}<br>
                   <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member1.describe4}}<br></p>

               <footer><strong>{{about.member1.name}}</strong></footer>
            </blockquote>

            <blockquote class="column-3 testimonial classic">
                    <img src={{about.member5.imgsrc}} alt=""/>
                    <p>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member5.describe1}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member5.describe2}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member5.describe3}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member5.describe4}}</p>
  
                <footer><strong>{{about.member5.name}}</strong></footer>
            </blockquote>

            <blockquote class="column-3 testimonial classic">
                <img src={{about.member3.imgsrc}} alt=""/>
                <p> <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member3.describe1}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member3.describe2}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member3.describe3}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member3.describe4}}</p>

                <footer><strong>{{about.member3.name}}</strong></footer>
            </blockquote>

            <blockquote class="column-3 testimonial classic">
                <img src={{about.member4.imgsrc}} alt=""/>
                <p> <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member4.describe1}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member4.describe2}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member4.describe3}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member4.describe4}}</p>
                <footer><strong>{{about.member4.name}}</strong></footer>
            </blockquote>

            <blockquote class="column-3 testimonial classic">
                <img src={{about.member2.imgsrc}} alt=""/>
                <p> <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member2.describe1}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member2.describe2}}<br>
                    <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member2.describe3}}<br>
                    <!-- <img src="../assets/images/gallery-images/dot.png" class="dot">{{about.member2.describe4}}</p> -->
                <footer><strong>{{about.member2.name}}</strong></footer>
            </blockquote>

        </div>

    </aside>
    
    

