<!--Pricing Tables-->
<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>{{pricetable.brand}}</h3>
            <h2 class="section-title">{{pricetable.title}}</h2>
        </div>
        <div class="column-2">
            <div id= "pricing-block1" class="pricing-block column-2-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="pricing-block-content">
                    <h3>{{pricetable.subtable.subtable1.title}}</h3>
                    <p class="pricing-sub"></p>
                    <div class="pricing">
                    <div class="price"><span>¥</span>{{pricetable.subtable.subtable1.price}}</div>
                    <p></p>
                </div>
                <ul>
                    <li>{{pricetable.subtable.subtable1.features.feature1}}</li>
                    <li>{{pricetable.subtable.subtable1.features.feature2}}</li>
                    <li>{{pricetable.subtable.subtable1.features.feature3}}</li>
                    <li>{{pricetable.subtable.subtable1.features.feature4}}</li>
                    <li>{{pricetable.subtable.subtable1.features.feature5}}</li>
                    <li>{{pricetable.subtable.subtable1.features.feature6}}</li>
                </ul>
                <a href="/Product" class="button" id="buybutton1">现在购买</a>
                </div>
            </div>
        </div>
        <div class="column-2">
            <div id= "pricing-block2" class="pricing-block featured column-2-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="pricing-block-content">
                    <h3>{{pricetable.subtable.subtable2.title}}</h3>
                    <p class="pricing-sub"></p>
                    <div class="pricing">
                    <div class="price"><span>¥</span>{{pricetable.subtable.subtable2.price}}</div>
                    <p></p>
                </div>
                <ul>
                    <li>{{pricetable.subtable.subtable2.features.feature1}}</li>
                    <li>{{pricetable.subtable.subtable2.features.feature2}}</li>
                    <li>{{pricetable.subtable.subtable2.features.feature3}}</li>
                    <li>{{pricetable.subtable.subtable2.features.feature4}}</li>
                    <li>{{pricetable.subtable.subtable2.features.feature5}}</li>
                    <li>{{pricetable.subtable.subtable2.features.feature6}}</li>
                </ul>
                <a href="/Product" class="button" id="buybutton1">现在购买</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Pricing Tables-->

