  <!--Introduction-->
  <section id="about" class="introduction scrollto">
    <div class="row clearfix">
        <div class="column-3">
            <div class="section-heading">
                <h3>{{production.brand}}</h3>
                <h2 class="section-title">{{production.title}}</h2>
                <p class="section-subtitle">{{production.secondtitle}}</p>
            </div>
        </div>
        <div class="column-2-3">
            <div class="column-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <div class="icon">
                    <i class="fa fa-cutlery fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>{{production.subtitle1}}</h4>
                    <p>{{production.subsection1}}</p>
                </div>
            </div>
            <div class="column-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <div class="icon">
                    <i class="fa fa-eyedropper fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>{{production.subtitle2}}</h4>
                    <p>{{production.subsection2}}</p>
                </div>
            </div>
            <div class="column-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <div class="icon">
                    <i class="fa fa-heartbeat fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>{{production.subtitle3}}</h4>
                    <p>{{production.subsection3}}</p>
                </div>
            </div>
            <div class="column-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <div class="icon">
                    <i class="fa fa-user-md fa-2x"></i>
                </div>
                <div class="icon-block-description">
                    <h4>{{production.subtitle4}}</h4>
                    <p>{{production.subsection4}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Introduction-->
