<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">
        <div class="column-3">
            <blockquote class="testimonial text-right bigtest" id="testwords">
                <q>{{company.leaderwords}}</q>
                <footer>{{company.leaderfooter}}</footer>
            </blockquote>
            <p class="describe21">
                    {{company.describe2}}
            </p>
        </div>
        <div class="column-3">
            <div class="section-heading">
                <h3>{{company.secondtitle}}</h3>
                <h2 class="section-title">{{company.title}}</h2>
                <p class="section-subtitle">{{company.describe1}}</p>
            </div>
            <p class="describe22">
                    {{company.describe2}}
            </p>
            <p>
                {{company.describe3}}
            </p>
            <a href="/About" class="button video link-lightbox">
                    了解更多 <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <div class="column-3" id="companyimg">
            <img src="../assets/images/companyout.jpg" alt=""/>
        </div>
    </div>
</div>
<!--End of Content Section-->

