<!--Product Tables-->
<section id="product" class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix">
    
            <div class="section-heading">
                <h3>{{product.brand}}</h3>
                <h2 class="section-title">{{product.title}}</h2>
            </div>

            <div class="column-3">
                <div class="post-block">
                    <h3>{{product.product1.subtitle}}</h3>
                    <p>{{product.product1.price}}</p>
                    <img src={{product.product1.imgsrc}}>
                    <a href="/Login" class="button video link-lightbox">
                        加入购物车 <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="column-3">
                <div class="post-block">
                    <h3>{{product.product2.subtitle}}</h3>
                    <p>{{product.product2.price}}</p>
                    <img src={{product.product1.imgsrc}}>
                    <a href="/Login" class="button video link-lightbox">
                    加入购物车 <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>                   
                </div>
            </div>
        </div>
    </section>
    <!--End of Pricing Tables-->
    
    
