<!--Contact Tables-->
<section id="contactus" class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix">
            <div class="section-heading">
                <h3>{{contactus.brand}}</h3>
                <h2 class="section-title">{{contactus.title}}</h2>
            </div>

            <div class="column-2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.405413868146!2d121.61798911450178!3d31.098462181511106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35b278af108e5139%3A0xc8bfdd16d49be44e!2z5Lit5Zu95LiK5rW35biC5rWm5Lic5paw5Yy66IqZ6JOJ6Iqx6Lev!5e0!3m2!1szh-CN!2sus!4v1573281870014!5m2!1szh-CN!2sus" width="100%" height="450px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

            <div class="column-2">
                <h4 class="subtitle"><strong>{{contactus.company}}</strong></h4>
                <p class="describe"><strong>{{contactus.describe1}}</strong>{{contactus.content1}}</p>
                <p class="describe"><strong>{{contactus.describe2}}</strong>{{contactus.content2}}</p>
                <p class="describe"><strong>{{contactus.describe3}}</strong>{{contactus.content3}}</p>
                <p class="describe"><strong>{{contactus.describe4}}</strong>{{contactus.content4}}</p>
                <a href={{contactus.wechat}}><i class="fa fa-weixin fa-2x contacticon" aria-hidden="true"></i></a>
                <a href={{contactus.weibo}}>><i class="fa fa-weibo fa-2x contacticon" aria-hidden="true"></i></a>
        </div>
        </div>
    </section>
    <!--End of Contact Tables-->
    
    
